<nav class="nav">
  <a href="/" class="logo">Snippets.io</a>

  <div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>

  <div class="nav__link hide">
    <a class="item" href="/">Home</a>
    <a class="item" href="/addpost">Add Snippet</a>
    <a class="item" href="/addcode">Add Code</a>
    <a class="item" href="/docs">Docs</a>
    <a class="item" href="/about">About</a>
  </div>
</nav>


<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: sans-serif;
  }

  .item {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1000;
  }



  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    z-index:1000;
  }

  .logo {
    font-size: 1.5rem;
    color: rgb(5, 5, 116);
    padding-left: 20px;
    font-weight: 800;
  }

  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }

  .hamburger .line {
    display: block;
    width: 35px;
    height: 4px;
    margin-bottom: 6px;
    background-color: black;
  }

  .nav__link {
    position: fixed;
    width: 94%;
    top: 5rem;
    left: 18px;
    background-color: lightblue;
    z-index: 9999 !important;
  }

  .nav__link a {
    display: block;
    text-align: center;
    padding: 10px 0;
  }

  .nav__link a:hover {
    background-color: lightcoral;
  }

  .hide {
    display: none;
  }

  @media screen and (min-width: 600px) {
    .nav__link {
      display: inline-block;
      position: static;
      width: auto;
      margin-right: 20px;
      background: none;
    }

    .nav__link a {
      display: inline-block;
      padding: 10px 10px;
    }

    .hamburger {
      display: none;
    }
  }
</style>

<script>
  const hamburger = document.querySelector('.hamburger');
const navLink = document.querySelector('.nav__link');

hamburger.addEventListener('click', () => {
  navLink.classList.toggle('hide');
});


</script>