<div id="alert-2" class="fixed bottom-10 flex px-24 p-4 bg-green-100 rounded-lg dark:bg-red-200 h-12" role="alert">
    <span class="sr-only">Info</span>
    <div class="ml-3 text-sm font-medium text-green-700 dark:text-red-800">
        Copied to clipboard
    </div>
</div>

<style>
    #alert-2 {
        display: none;
        z-index: 999;
    }
</style>

<script>
    function show() {
        document.getElementById('alert-2').style.display = 'block';
        setTimeout(() => {
            document.getElementById('alert-2').style.display = 'none';

        }, 5000);
    }
</script>


<section class="relative">

    <div class="text-center pb-12">
        <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-gray-900">
            {{data.name}}
        </h1>
        <h2 class="mt-5 text-base font-bold text-indigo-600">
            {{data.desc}}
        </h2>
    </div>

    <script>
        function CopyToClipboard(id) {
            var r = document.createRange();
            r.selectNode(document.getElementById(id));
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(r);
            document.execCommand('copy');
            window.getSelection().removeAllRanges();
            show()
        }
    </script>


    <div class="center">
        <div class="width">
            <div
                class="b-8 block p-6 bg-grey-100 rounded-lg border border-gray-200 shadow-md hover:bg-gray-50 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <div class="flex">
                    <h5 class="m-3 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Code</h5>
                    <a onclick="CopyToClipboard('code-block');return false;"
                        class=" m-3 rounded inline-flex group items-center justify-center px-2 py-1 cursor-pointer border-b-4 border-l-2 active:border-purple-600 active:shadow-none shadow-lg bg-gradient-to-tr from-purple-600 to-purple-500 border-purple-700 text-white">
                        <span class="w-0 h-0 transition-all duration-300 ease-out bg-white rounded-full"></span>
                        <span class="">Copy</span>
                    </a>
                </div>

                <p id="code-block" class="mt-4 font-normal text-gray-700 dark:text-gray-400">{{data.code}}</p>

                <label class="mt-5 block text-gray-900 font-bold">Preview</label>
                <div class="my-3  p-4 rounded-md resize-none text-gray-800 bg-gray-50"
                    id="prevCom"></div>

                <textarea id="WPComment" rows="10" id="code" name="code" placeholder="Paste Code..."
                    class="my-3 p-4 rounded-md resize-none text-gray-800 bg-gray-50" hidden>{{data.code}}</textarea>

            </div>
        </div>
    </div>


    <style>
        .center {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .width {
            width: 90vw;
        }
    </style>

    <script>
        var wpcomment = document.getElementById('WPComment');

        function pre() {
            document.getElementById('prevCom').innerHTML = wpcomment.value;
        }
        pre()
        wpcomment.onkeyup = wpcomment.onkeypress = function () {
            document.getElementById('prevCom').innerHTML = this.value;
        }
    </script>