<div class="w-full max-w-md p-8 space-y-3 rounded-xl bg-gray-50 text-gray-800">
	<h1 class="text-2xl font-bold text-center">Add Post</h1>
	<form action="/addpost" method="post" class="space-y-6 ng-untouched ng-pristine ng-valid">
		<div class="space-y-1 text-sm">
			<label for="name" class="block text-gray-600">Name</label>
			<input type="text" name="name" id="name" placeholder="name" class="w-full px-4 py-3 rounded-md border-gray-300 bg-gray-50 text-gray-800 focus:border-violet-600">
		</div>
		<button type="submit" class="block w-full p-3 text-center rounded-sm text-gray-50 bg-violet-600">Sign in</button>
	</form>
</div>