<div class="w-full p-8 mb-16 space-y-3 rounded-xl bg-white text-gray-800">
	<h1 class="text-2xl font-bold text-center">Edit Code</h1>
	<form action="/editcode" method="post" class="space-y-6 ng-untouched ng-pristine ng-valid">

		<div class="flex flex-col w-full">

			<label for="name" class="block text-gray-600">Function</label>
			<input type="text" name="id" value={{data._id}} hidden>
			<input type="text" name="name" id="name" placeholder="Name" value={{data.name}}
				class="my-5 w-full px-4 py-3 rounded-md border-gray-300 bg-gray-50">

			<label for="description" class="block text-gray-600">Description</label>
			<textarea rows="8" id="description" name="desc" placeholder="Description..."
				class="my-3 p-4 rounded-md resize-none text-gray-800 bg-gray-50">{{data.desc}}</textarea>

			<label for="code" class="block text-gray-600">Code</label>
			<textarea id="WPComment" rows="8" id="code" name="code" placeholder="Code..."
				class="my-3 p-4 rounded-md resize-none text-gray-800 bg-gray-50">{{data.code}}</textarea>


			<label class="block text-gray-900 font-bold">Preview</label>
			<div class="my-3 p-4 rounded-md resize-none text-gray-800 bg-gray-50 flex items-center justify-center" id="prevCom"></div>

			<button type="submit" class="py-4 my-8 font-semibold rounded-md text-gray-50 bg-violet-600">Edit
				Code</button>
		</div>

	</form>
</div>

</form>
</div>


<script>
	var wpcomment = document.getElementById('WPComment');

	function pre() {
		document.getElementById('prevCom').innerHTML = wpcomment.value;
	}
pre()
	wpcomment.onkeyup = wpcomment.onkeypress = function() {
		document.getElementById('prevCom').innerHTML = this.value;
	}
</script>