<form action="/editpost" methode="/post">
    <h1>{{data.name}} <br> </h1>
    new input
    <input name="name" class="m-2 w-full px-4 py-3 rounded-md border-gray-300 bg-gray-50 text-gray-800 focus:border-violet-600" type="text">
    <button type="submit">submit</button>
</form>